<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myTestGit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29A8CF161F09E6F900A4733F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29A8CF2F1F09E6FA00A4733F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29A8CF3A1F09E6FA00A4733F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
